# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Data and Models (Usually kept local or in DVC)
data/
*.keras
*.pkl

# EXCEPT these production artifacts (ALLOW these to be pushed)
!artifacts/lstm_model_v1.keras
!artifacts/scaler.pkl

# IDEs
.vscode/
.idea/

# Temporary test data
temporary/
